:root {
    --primary_color: green;
}

body {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.bold {
    font-weight: bold;
}

/* INITIAL MESSAGE */

.initial_message {
    background-color: rgba(255, 255, 255, 0.65);
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    height: 150px;
    justify-content: space-around;
    padding: 10px;
    position: absolute;
    text-align: justify;
    width: 80%;
    z-index: 2;
}

.initial_message button {
    background-color: yellowgreen;
    border-radius: 10px;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 12px;
}

.initial_message button:active {
    background-color: black;
    color: orange;
}

/* GAME */

.game {
    border: 1px solid black;
    height: 400px;
    width: 300px;
}

/* INFO */

.info {
    background-color: rgb(200, 200, 200);
    height: 10%;
}

.score_info {
    align-items: center;
    *border: 1px solid black;
    display: flex;
    height: 100%;
    padding: 0 6px;
}

#score {
    text-align: right;
    width: 22%;
}

/* BOARDGAME */

.render_boardgame {
    align-items: center;
    *border: 1px solid black;
    display: flex;
    height: 90%;
    justify-content: center;
}

#boardgame {
    *background-color: gray;
    *border: 1px solid black;
    height: 360px;
    width: 300px;
}

/* SNAKE */

